.contact {
  padding: 1rem $padding 0;
  border-top: 5px solid $primaryColor-dark;
  position: relative;

  @include mobile {
    padding: 1rem 1rem 0;
  }

  h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #fff;
  }

  form {
    width: 80%;
    margin-bottom: 5rem;

    @include mobile {
      width: 100%;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      margin-bottom: 1em;
      padding: 0.5em;
      border: $primaryColor 1px solid;
      border-radius: 8px;
      outline-color: $primaryColor;
      font-size: 1em;
      color: #fff;
      background-color: transparent;
      font-family: "Roboto";
    }

    textarea {
      min-height: 7em;
      max-width: 100%;
    }

    input[type="submit"] {
      background-color: transparent;
      color: $primaryFont;
      width: auto;
      margin: auto;
      padding: 0.75em 2em;
      border-radius: $radius;
      font-size: 1.1rem;
      cursor: pointer;
      transition: 0.2s;
    }
    input[type="submit"]:hover {
      background-color: $primaryColor-dark;
    }

    input::placeholder,
    textarea::placeholder {
      color: #fff;
    }

    input:focus,
    textarea:focus {
      outline: none;
      border-color: $primaryColor-dark;
    }
  }

  span {
    font-size: 0.8em;
    padding: 0.2rem;
    color: red;
    display: inline-block;
    transform: translateY(-10px);
  }
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://images.pexels.com/photos/4831/hands-coffee-smartphone-technology.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: top;
  z-index: -1;
  background-attachment: fixed;
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  opacity: 0.8;
  z-index: -1;
}
